In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("vine_table.csv", sep=",", low_memory=False)
vine_df.head(10)

        review_id star_rating  helpful_votes vine verified_purchase
0  R2UM5QMHBHC90Q           5            0.0    N                 Y
1    RF0D1LEIF6L7           4            0.0    N                 Y
2    RM6YKIWQVNSY           1            6.0    N                 Y
3  R1RL3L68ASPS36           4            0.0    N                 Y
4  R1U4XFBFAG34CY           5            0.0    N                 Y
5  R3KFIK8P0I91PL           5            0.0    N                 Y
6   RENOAY76PPK1O           5            0.0    N                 Y
7   RINV884I0NL5V           1            0.0    N                 Y
8   R5KJH6CXZH2PX           5            0.0    N                 Y
9   RO69JF6QWD0W1           5            0.0    N                 Y

In [3]:
vine_df.describe()

       helpful_votes
count   1.741095e+06
mean    1.845900e+00
std     1.313442e+01
min     0.000000e+00
25%     0.000000e+00
50%     0.000000e+00
75%     1.000000e+00
max     4.760000e+03